article.widget
    .widget__header
        span Damage distribution
    .widget__body.damage-distribution
        canvas(
            class="chart chart-doughnut"
            chart-options="::{'animation': false}"
            chart-legend="true"
            chart-colours="['#FFCE56', '#36A2EB', '#FF6384']"
            chart-data="[ctrl.participant.stats.trueDamageDealtToChampions, ctrl.participant.stats.physicalDamageDealtToChampions, ctrl.participant.stats.magicDamageDealtToChampions]"
            chart-labels="::['True Damage', 'Physical Damage','Magic Damage']"
        )